/*defs*/
/* if, while... */
/* function definition */
/* function calls */
/* comment */
/* string */
/* true, false, Types etc */
/* parens, brackets */
#multi.theme-juniper-dark .content {
  background: #172734;
}

/*#multi.theme-juniper-dark .list .active, #multi.theme-juniper-dark .list li:hover { background: #f0f0f0; color: $fg; }*/
#multi.theme-juniper-dark .list .dirty {
  color: #f50;
}

.cm-s-juniper-dark {
  background: #172734;
  color: #eee;
}

.cm-s-juniper-dark span.cm-keyword {
  color: #5B90D4;
  font-weight: bold;
}

/* if, while... */
.cm-s-juniper-dark span.cm-atom {
  color: #6BE7D4;
}

.cm-s-juniper-dark span.cm-number {
  color: #E1FFFF;
}

.cm-s-juniper-dark span.cm-def {
  color: #FC9906;
}

/* function definition */
.cm-s-juniper-dark span.cm-variable {
  color: #eee;
}

.cm-s-juniper-dark span.cm-variable-2 {
  color: #6BE7D4;
}

/* function calls */
.cm-s-juniper-dark span.cm-variable-3 {
  color: #6BE7D4;
}

.cm-s-juniper-dark span.cm-property {
  color: #eee;
}

.cm-s-juniper-dark span.cm-operator {
  color: #6BE7D4;
}

/* operators, ., :, = */
.cm-s-juniper-dark span.cm-comment {
  color: #4CA60F;
  font-style: italic;
}

/* comment */
.cm-s-juniper-dark span.cm-string {
  color: #F7DB82;
}

.cm-s-juniper-dark span.cm-string-2 {
  color: #F7DB82;
}

.cm-s-juniper-dark span.cm-meta {
  color: #FC9906;
  font-style: italic;
}

/* @macros */
.cm-s-juniper-dark span.cm-error {
  color: #f55;
  background: #522;
}

.cm-s-juniper-dark span.cm-qualifier {
  color: #5B90D4;
}

/* end */
.cm-s-juniper-dark span.cm-builtin {
  color: #F7DB82;
}

/* true, false, Types etc */
.cm-s-juniper-dark span.cm-bracket {
  color: #0bb;
  background: none;
}

/* parens, brackets */
.cm-s-juniper-dark span.cm-tag {
  color: #F7DB82;
}

.cm-s-juniper-dark span.cm-attribute {
  color: #b20000;
}

.cm-s-juniper-dark span.cm-header {
  color: #b20000;
}

.cm-s-juniper-dark span.cm-quote {
  color: #0f0;
}

.cm-s-juniper-dark span.cm-hr {
  color: #4CA60F;
}

.cm-s-juniper-dark span.cm-link {
  color: #00f;
}

.cm-s-juniper-dark span.cm-symbol {
  color: #F7DB82;
}

.cm-s-juniper-dark a.file-link {
  color: #5B90D4;
}

.cm-s-juniper-dark span.cm-bracket0, .cm-s-juniper-dark span.cm-bracket-mismatched {
  color: #f88;
}

.cm-s-juniper-dark span.CodeMirror-searching {
  background: #aaa;
  color: black;
}

.cm-s-juniper-dark span.CodeMirror-searching-active {
  background: #afa;
  color: black;
}

.cm-s-juniper-dark div.CodeMirror-selected {
  background: #345 !important;
}

.cm-s-juniper-dark div.CodeMirror-cursor {
  border-left: 1px solid white;
}

.cm-s-juniper-dark .CodeMirror-activeline-background {
  background: inherit;
  margin-left: 2px;
  border: solid #334 2px;
}

.cm-s-juniper-dark .CodeMirror-matchingbracket {
  font-weight: bold;
  color: #D0FF6F !important;
  background-color: #086430 !important;
}

.cm-s-juniper-dark .CodeMirror-nonmatchingbracket {
  font-weight: bold;
  text-decoration: line-through;
  color: #f88 !important;
  background-color: #930000 !important;
}

.cm-s-juniper-dark .cm-searching {
  background: #345;
  border-radius: 0px;
  color: #eee !important;
}

.cm-s-juniper-dark .searching-current {
  background: #e0e0e0;
  color: #555 !important;
}

/* dark Table stuff */
.julia {
  font-family: inherit !important;
  max-width: inherit !important;
}

.theme-juniper-dark .inline-result {
  background: #4C6A83;
  color: #bbb;
  border-radius: 0px;
}

.theme-juniper-dark .underline-result {
  background: #082434;
  padding: 0 0 0 10px;
  color: #bbb;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  margin: 8px 0 8px 0;
}

.theme-juniper-dark .inline-doc {
  padding: 0 0 0 10px;
  margin: 8px 0 8px 0;
  background: #082434;
  color: #bbb;
}

.theme-juniper-dark .inline-exception {
  max-width: 101%;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  margin: 8px 0 8px -10px !important;
  background: #522;
  color: #bbb;
  margin: 8px 0 8px 0;
  padding: 0 0 0 10px;
}

.theme-juniper-dark .inline-exception > div {
  max-width: inherit !important;
  background-color: #522;
}

.theme-juniper-dark .inline-doc pre {
  padding: 0 0 0 10px;
  margin: 8px 0 8px 0;
  color: #bbb;
}
