/* popups too: */
html {
  background: #fff;
}

body {
  background: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.button, button {
  background: #616161;
  color: #777;
}

.button:hover, .button:focus, button:hover, button:focus, button.active {
  background: #ccc !important;
  color: #555;
}

input {
  color: #353;
  background: #eee;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-input-placeholder {
  color: #999;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #D5D5D5;
  border: 1px solid #D5D5D5;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
  border: 1px solid #999;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::selection {
  background: #999;
}

.inline-result {
  background: #505D6B;
  color: #006EC7;
}

.inline-exception pre {
  background: #C76C82;
  color: #FFA6A6;
}

.underline-result pre {
  background: transparent;
  color: #006EC7;
}

.inline-doc {
  background: #505D6B;
}

.inline-doc h1 {
  color: #CCFCFF;
}

.inline-doc h3, .inline-doc h2 {
  color: #006EC7;
}

.underline-result .inline-doc pre {
  color: #006EC7;
}

.inspector-object h2:before {
  color: #999;
}

.inspector-object em {
  color: #006EC7;
}

.inspector-object {
  color: #333;
}

.inline-result .inspector-object {
  color: #CCFCFF;
}

.inline-result .inspector-object h2:before {
  color: #CCFCFF;
}

#multi-container {
  background: #fff;
}

#multi .list {
  background: transparent;
}

#multi .list ul {
  height: 25px !important;
  margin-top: 6px !important;
}

#multi .list li {
  box-sizing: border-box;
  height: 29px;
  border: 1px solid #EBEBEB;
  border-bottom: 0;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 15px !important;
}

#multi .list .active, #multi .list li:hover {
  background: #f0f0f0;
  color: #353;
}

#multi .list .dirty {
  color: #006EC7;
}

#multi .list .dirty .file-name:after {
  content: "*";
}

#multi .list.dragging li {
  background: transparent !important;
}

#multi .dirty.ui-sortable-placeholder:after {
  content: "" !important;
}

#multi .list .tab-close {
  background: #f0f0f0;
  color: #333;
  margin-left: 5px !important;
  border-radius: 0 !important;
}

#multi .tab-close:hover {
  background: #C76C82;
  color: #FFA6A6;
}

#multi .tabset + .tabset {
  border-left: 2px solid #fff;
}

#bottom-bar .content {
  background: #fff;
  border-top: 0px solid #EBEBEB;
}

.console > li, .console td {
  color: #006EC7;
}

.console > li + li {
  border-top: 2px solid #fff;
}

.console > li.error + li {
  border-color: #fff;
}

.console li.error {
  color: #FFA6A6;
  background: #C76C82;
  border-color: #fff;
}

.console li.error table td {
  color: #FFA6A6;
}

.console li.error tr:hover td {
  color: #FFCDCD;
}

.console li .file {
  color: #bbb;
}

.console li .line {
  color: #999;
  padding-left: 5px;
}

#instarepl .error {
  color: #FFA6A6;
  background: #C76C82;
}

#instarepl .livetoggler {
  background: #ffffff;
  color: #006EC7;
}

#instarepl .livetoggler.off {
  color: #999;
  background: #fff;
}

#instarepl .livetoggler.off:hover {
  color: #555;
  background: #ccc;
}

#instarepl .use-result {
  background: #D9EEEE;
  color: #0063B3;
}

#instarepl .result-result {
  background: #505D6B;
  color: #006EC7;
}

#instarepl .exception-result {
  background: #C76C82;
  color: #FFA6A6;
}

.popup {
  background: rgba(0, 0, 0, 0.5);
}

.popup > div > div {
  background: #ffffff;
  color: #006EC7;
}

.popup .button {
  background: transparent;
  border: 2px solid #006EC7;
  color: #006EC7;
}

.popup label {
  margin-right: 10px;
  display: block;
}

.popup input {
  background: transparent;
  padding: 8px 10px;
  border: 2px solid #006EC7;
  color: #006EC7;
  width: 60%;
}

.popup input::-webkit-input-placeholder {
  color: #006EC7;
}

.popup .button:hover, .popup .button.active {
  background: #006EC7 !important;
  color: #ffffff;
}

.popup ::-webkit-scrollbar-thumb {
  background: #006EC7;
  border: 1px solid #006EC7;
}

#version-info {
  background: #f0f0f0;
}

#version-info .info {
  border-right: 1px solid #fff;
}

#version-info .info dt {
  color: #999;
}

#version-info .button {
  background: #616161;
  color: #777;
  border: none;
}

#version-info .button:hover {
  background: #ccc;
  color: #555;
}

.filter-list {
  color: #333;
}

.filter-list em {
  color: #006EC7;
}

.filter-list .selected, .filter-list li:hover {
  color: #353;
  background: #eee;
}

.filter-list .selected em, .filter-list li:hover em {
  color: #006EC7;
}

#left-bar .content {
  background: #fff;
  box-shadow: 0 0 10px black;
}

#left-bar ::-webkit-scrollbar-thumb {
  background: #D5D5D5;
  border: 1px solid #D5D5D5;
}

#left-bar .workspace ul.buttons li:hover:not(.sep) {
  color: #353;
  background: #eee;
}

#left-bar .workspace li:hover > div > p {
  color: #353;
}

#left-bar .workspace li p:hover {
  background: #eee;
  color: #353;
}

#left-bar .workspace .recent > div > ul > li + li {
  border-top: 0px solid #888;
}

#left-bar .workspace .recent > div > ul > li:hover {
  border-color: #888;
  background: #eee;
  color: #353;
}

#left-bar .workspace .recent > div > ul > li:hover + li {
  border-top-color: #888;
}

#left-bar .workspace .recent h2:hover {
  background: #eee;
  color: #353;
}

#right-bar .content {
  background: #fff;
}

#right-bar .command h2:hover {
  background: #eee;
  color: #353;
}

#right-bar .command input {
  background: #eee;
  color: #353;
}

#right-bar .command li + li {
  border-top: 1px solid #606060;
}

#right-bar .command .filter-list p {
  color: #999;
}

#right-bar .command .filter-list .selected p {
  color: #353;
}

#right-bar .command .filter-list p.binding {
  color: #999;
}

#right-bar .command .filter-list .selected p.binding {
  color: #333;
}

#right-bar .filter-list h2 {
  color: #999;
}

#right-bar .filter-list .selected, #right-bar .filter-list .selected h2, #right-bar .filter-list li:hover {
  color: #353;
  background: #eee;
}

#right-bar .filter-list input {
  border: 0px solid #888;
  background: #eee;
}

#right-bar .navigate .filter-list .selected p {
  color: #333;
}

#right-bar .filter-list li + li {
  border-top: 0px solid #606060;
}

#right-bar .docs-search h2 {
  color: #006EC7;
}

#right-bar .docs-search h3 {
  color: #999;
}

#right-bar .docs-search .types > span {
  background: #888;
  color: #fff;
}

#right-bar .docs-search .types ul {
  background: #fff;
}

#right-bar .docs-search .types li {
  background: #eee;
  color: #353;
}

#right-bar .docs-search .types li:hover {
  background: #999;
  color: #fff;
}

#right-bar .clients td {
  color: #bbb;
}

#right-bar .clients .button {
  background: #616161;
  color: #777;
}

#right-bar .clients .button:hover {
  background: #ccc;
  color: #555;
}

#right-bar .clients .list li h2 {
  color: #006EC7;
  font-size: 12pt;
}

#right-bar .clients .list > ul > li:first-child {
  border-top: 0px solid #888;
}

#right-bar .clients .list > ul > li:last-child {
  border-bottom: 0px solid #888;
}

#right-bar .clients .list > ul > li + li {
  background: transparent;
  border-top: 0px solid #888;
}

#right-bar .clients .list .active {
  background: #eee;
  color: inherit;
  border-color: #888;
}

#right-bar .clients .list .active * {
  color: inherit;
}

#right-bar .clients .list .active h2 {
  color: #353;
}

#right-bar .clients .list .active .button {
  background: #ccc;
  color: #555;
}

#right-bar .clients .list .active .button:hover {
  background: #006EC7 !important;
  color: #ffffff;
}

#right-bar .clients .connector li {
  border-top: 0px solid #888;
  border-bottom: 1px solid #888;
}

#right-bar .clients .connector li:first-child {
  border: none;
}

#right-bar .clients .connector li:last-child {
  border-bottom: none;
}

#right-bar .clients .connector li + li {
  border-bottom: none;
}

#right-bar .clients .connector li h2 {
  color: #353;
}

#right-bar .clients .connector li:hover h2 {
  color: #353;
}

#right-bar .clients .connector li:hover {
  background: #eee;
  color: #333;
  border-color: #888;
}

#status {
  color: #999;
}

#status .console-toggle {
  cursor: default;
  background: #404040;
  color: #333;
  min-width: 12px;
  padding: 0 4px;
  width: auto;
  display: none;
  text-align: center;
  margin-left: 0px;
  border-radius: 2px;
}

#status .console-toggle:hover {
  background: #666;
  color: #353;
}

#status .console-toggle.dirty {
  background: #ffffff;
  color: #006EC7;
  display: inline-block;
}

#status .console-toggle.error {
  color: #FFA6A6;
  background: #C76C82;
}

#status .log .error {
  color: #FFA6A6;
  background: #C76C82;
}

#status .log .tip {
  color: #006EC7;
}

#statusbar {
  border-bottom: 1px solid #EBEBEB;
}

#find-bar input {
  border-top: 2px solid #fff;
  background: #f0f0f0;
}

#find-bar input + input {
  border-left: 2px solid #fff;
}

#find-bar ::-webkit-input-placeholder {
  color: #999;
}

#find-bar button {
  background: #fff;
}

#find-bar button:hover, #find-bar button:focus, #find-bar button:active, #find-bar button.active {
  background: #ccc;
}

#browser input {
  background: #404040;
  color: #333;
}

#browser iframe {
  background: white;
}

#browser ::-webkit-scrollbar {
  background: #fff !important;
}

#browser ::-webkit-scrollbar-track {
  background: #fff !important;
}

#browser ::-webkit-scrollbar-corner {
  background: #fff !important;
}

#browser ::-webkit-scrollbar-thumb {
  background: #D5D5D5;
  border: 1px solid #D5D5D5;
}

.docs ::-webkit-scrollbar {
  background: #fff !important;
}

.docs ::-webkit-scrollbar-track {
  background: #fff !important;
}

.docs ::-webkit-scrollbar-corner {
  background: #fff !important;
}

.docs ::-webkit-scrollbar-thumb {
  background: #D5D5D5;
  border: 1px solid #D5D5D5;
}

.search-results .path, .search-results .line {
  color: #999;
}

.search-results .line {
  color: #333;
}

.search-results .entry {
  color: #999;
}

.search-results .entry em {
  color: #fff;
}

.search-results .entry:hover {
  background: #404040;
}

.search-results .entry:hover .line {
  background: #999;
  color: #fff;
}

.search-results .path {
  color: #006EC7;
}

.search-results .file {
  color: #0063B3;
}

.search-results input {
  background: #eee;
}

.search-results button {
  background: #fff;
}

.watch-result {
  display: inline-block;
  padding-left: 2px;
  vertical-align: top;
  background: #D9EEEE;
  color: #0063B3;
  border-radius: 0px;
}

.CodeMirror .watched {
  border-bottom: 1px solid #0063B3;
}

.hintwrapper {
  padding: 2px 0;
  padding-bottom: 5px;
  padding-left: 12px;
  box-sizing: border-box;
}

.jshinterrors {
  display: inline-block;
  box-sizing: border-box;
  padding: 2px 10px;
  border-radius: 0px;
  background: #C76C82;
  color: #FFA6A6;
}

.hintwrapper .spacer {
  display: inline-block;
  white-space: pre;
}

.behavior-helper-result {
  white-space: nowrap;
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  margin-left: 0px;
  padding-left: 20px;
  box-sizing: border-box;
  background: none;
  color: #0063B3;
}

.behavior-helper-result div {
  white-space: nowrap;
  width: -webkit-fit-content;
  background: #D9EEEE;
  padding: 0px 5px;
  border-radius: 0px;
  margin-top: 0px;
}

.behavior-helper-result div > * {
  border-radius: 0px;
  padding: 0px !important;
}

.behavior-helper-result h2 {
  display: block;
  width: -webkit-fit-content;
  white-space: nowrap;
}

.behavior-helper-result div > span.param {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 3px;
  padding: 2px 5px !important;
  margin-top: 5px;
  border: 1px solid #0063B3;
}

.behavior-helper-result div > span.spacer {
  display: inline-block;
  margin: 0 5px;
}

.behavior-helper-result .active {
  background: #D9EEEE;
  color: #0063B3;
  border-radius: 0px;
  display: inline-block;
}

.behavior-helper-result .example {
  display: inline-block;
  width: auto;
  vertical-align: top;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  border: none;
}

.plugin-manager .version {
  margin-left: 10px;
  color: #999;
}

.plugin-manager h3 {
  color: #999;
}

.plugin-manager h3:before {
  content: "by ";
}

.plugin-manager li {
  border: none;
  position: relative;
}

.plugin-manager li h1 {
  color: #006EC7;
}

.plugin-manager li.has-update .version {
  color: #FFA6A6;
}

.plugin-manager li.has-update .version {
  color: #FFA6A6;
}

.plugin-manager li.has-update h1 {
  color: #FFA6A6;
}

.plugin-manager li + li {
  border-top: 1px solid #EBEBEB;
}

.plugin-manager > ul > li:hover {
  background: #eee;
}

.plugin-manager .tabs {
  margin-bottom: 15px;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  height: 30px;
  width: 100%;
}

.plugin-manager input {
  background: #eee;
  -webkit-flex: 1;
}

.plugin-manager button {
  background: #eee;
}

.plugin-manager .install {
  box-sizing: border-box;
  color: #D9EEEE;
  background: #0063B3;
  display: inline-block;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  -webkit-transition: width 0.1s ease-in-out;
  cursor: pointer;
}

.plugin-manager .uninstall {
  box-sizing: border-box;
  color: #5E3870;
  background: #F3EAFF;
  display: inline-block;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  -webkit-transition: width 0.1s ease-in-out;
  cursor: pointer;
}

.plugin-manager .update {
  box-sizing: border-box;
  background: #FFA6A6;
  display: inline-block;
  height: 25px;
  position: absolute;
  right: 0;
  top: 50px;
  width: 5px;
  -webkit-transition: width 0.1s ease-in-out;
  cursor: pointer;
}

.plugin-manager li:hover .update {
  width: 70px;
  overflow: hidden;
}

.plugin-manager li:hover .update:before {
  color: #C76C82;
  padding: 4px 8px;
  display: inline-block;
  content: "update";
}

.plugin-manager li:hover .uninstall {
  width: 70px;
  overflow: hidden;
}

.plugin-manager li:hover .uninstall:before {
  padding: 4px 8px;
  display: inline-block;
  content: "uninstall";
}

.plugin-manager li:hover .install {
  width: 70px;
  overflow: hidden;
}

.plugin-manager li:hover .install:before {
  padding: 4px 8px;
  display: inline-block;
  content: "install";
}

.plugin-manager .source {
  color: #999;
  position: absolute;
  height: 25px;
  width: 5px;
  top: 25px;
  right: 0;
  background: #505D6B;
  overflow: hidden;
  -webkit-transition: width 0.1s ease-in-out, right 0.1s ease-in-out;
}

.plugin-manager .source a {
  color: #999;
  padding: 4px 8px;
  display: inline-block;
  width: 100%;
}

.plugin-manager li:hover .source {
  width: 70px;
}

.plugin-manager li:hover .source a {
  color: #999 !important;
}

/**********************************************************
* Theme specific
***********************************************************/
.cm-visible-space {
  background: url("../img/visible-space11.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.cm-visible-tab {
  background: url("../img/visible-tab7.png");
  background-size: 100% 1em;
  background-position: center;
  background-repeat: no-repeat;
}

#right-bar .clients .load-wrapper .img {
  width: 20px;
  height: 20px;
  background: url("../img/anim.gif");
}

#titlebar .button {
  color: #333;
}

.load-wrapper .img {
  background: url("../img/anim.gif");
}

.timed {
  border-bottom: 1px solid #fa5;
}

.timed-result {
  background: #741;
  color: #fb0;
}

.workspace .buttons {
  display: none;
}

#side .content {
  border-right: 1px solid #EBEBEB;
}

#multi {
  top: 0;
}

#multi .list {
  margin: 0;
}

#multi .list li {
  height: 29px;
  padding: 2px 10px;
  font-size: 9pt;
  text-align: left;
}

#multi .content {
  background: #f0f0f0;
  margin: 0;
  top: 29px;
  left: 0;
  right: 0;
  border: 5px solid #f0f0f0;
  padding: 0;
}

#left-bar .workspace ul.root {
  top: 0px;
}

#right-bar .filter-list input {
  padding: 6px 10px;
  font-size: 10pt;
  margin-top: 0;
  border-radius: 0px;
}

#right-bar .filter-list ul {
  top: 35px;
  bottom: 10px;
}

#right-bar .content {
  padding: 0 15px;
  padding-bottom: 10px;
}

button {
  border-radius: 0;
}

* {
  border-radius: 0;
}

.CodeMirror pre {
  padding: 0 0 0 5px;
  /* Horizontal padding of content */
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
}

/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid gray;
}

.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: none !important;
  background: rgba(0, 200, 200, 0.4);
}

.CodeMirror-gutters {
  background: #f0f0f0;
  border-right: 1px solid #ccc;
}

.CodeMirror-hints.empty {
  display: none;
}

.CodeMirror-hints {
  position: absolute;
  z-index: 1000000000000000;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  font-size: 90%;
  font-family: inherit;
  max-height: 20em;
}

.CodeMirror-hints ul {
  overflow-y: auto;
  max-height: 20em;
}

.CodeMirror-hints ul li {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  max-width: 60em;
  overflow: hidden;
  white-space: pre;
  color: #333;
  cursor: pointer;
}

.CodeMirror-hints input {
  display: none;
}

.CodeMirror-hints .selected {
  background: #eee;
  color: #353;
}

.CodeMirror-hints ul::-webkit-scrollbar-thumb {
  background: #D5D5D5;
  border-color: #D5D5D5;
}
